#!/bin/sh
# A welcome saying
 
/usr/games/fortune \
  {% for motd_fortune in motd_deb_script.params.fortunes -%}
  {{ motd_fortune.percent }} {{ motd_deb_script.params.fortunes_dir }}{{ motd_fortune.file }} {% endfor %}\
  | /usr/games/cowsay
